body {
    font-family: 'Arial', sans-serif;
    background-color: bisque;
    color: black
}

header {
    position: fixed;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: bisque;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
    color: brown;
}
header nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 16px;

    transition: 0.3s;
}

header nav a:hover, header nav a:active{
    color:brown ;
}