body {
    font-family: 'Arial', sans-serif;
    background-color: bisque;
    color: black
}

header {
    position: fixed;
    top: 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: bisque;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
    color: brown;
}
header nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 16px;

    transition: 0.3s;
}

header nav a:hover, header nav a:active{
    color:brown ;
}

section.home {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
    padding: 0 100px;
}

.home-img img{
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

.home-content h1 {
    font-size: 48px;
}

.home-content h1 span {
    color: brown;
}

.home-content h3 {
    font-size: 24px;
    margin: 15px 0;
}

.home-content h3 .highlight {
    color:brown;
    font-weight: bold;
}

.home-content p {
    margin: 15px 0;
    line-height: 1.6;
    max-width: 400px;
}

.social-icons a {
    color: black;
    font-size: 24px;
    margin-right: 15px;
    transition: 0.3s;
}
.social-icons a:hover {
    color: brown;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: black
    background-color: bisque;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: green;
}